
<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="content-type" content="charset=UTF-8">
    <!-- ## SITE META ## -->
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="author" content="Group1 - Cardiff Uni">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>

    <footer id="pageFooter" class="footer-wrapper bg-dark" th:fragment="footer">
        <div class="footer-information">
            <div>Site created by Code Time</div>
            <div> code_time@cf.ac.uk&nbsp;&nbsp;|&nbsp;&nbsp;+44 (0)29 2087 4812</div>
            <div>&copy; 2019 Cardiff University Registered charity no. 1136855</div>
        </div>
    </footer>
</body>
</html>